<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5 p-3" style="background-color: #f8f9fa;">
    <h2 class="text-center" style="font-size: 45px; font-weight: bold;">Shopping Cart</h2>
</div>
<div class="container">
    <div class="row mb-5">
        <form class="col-md-12" method="post" style="padding: 0;">
            <div style="overflow-x: auto;">
                <table class="table table-bordered " style="width: 100%; border-collapse: collapse;">
                    <thead style="background-color: #e9ecef;">
                        <tr>
                            <th style="padding: 12px 15px; text-align: left;">Image</th>
                            <th style="padding: 12px 15px; text-align: left;">Product</th>
                            <th style="padding: 12px 15px; text-align: left;">Details</th>
                            <th style="padding: 12px 15px; text-align: left;">Subtotal</th>
                            <th style="padding: 0px 0px; text-align: right;"></th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for i in cart %}
                        <tr>
                            <td><img src="{{ i.product.image.url }}" height="100px" width="30%" style="max-width: 100px;"></td>
                            <td>{{ i.product.name }}</td>
                            <td>Unit price: {{ i.product.price }}<br><br>Quantity: {{ i.quantity }}</td>
                            <td>{{ i.subtotal }}</td>
                            <td style="width: 100px;"><br><br>
                                    {% if i.product.stock > 0 %}
                                <a href="{% url 'cart:addtocart' i.product.id %}" ><i class="fa fa-plus-circle text-danger" aria-hidden="true" style="margin-right: 10px;"></i></a>
                                <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa fa-minus-circle text-danger" aria-hidden="true" style="margin-right: 10px;"></i></a>
                                <a href="{% url 'cart:cart_fullremove' i.product.id %}" ><i class="fa fa-trash text-danger" aria-hidden="true"  style="margin-right: 10px;"></i></a>
                                    {% else %}
                                <a href="{% url 'cart:cart_remove' i.product.id %}"><i class="fa fa-minus-circle text-danger" aria-hidden="true"></i></a>
                                <a href="{% url 'cart:cart_fullremove' i.product.id %}" ><i class="fa fa-trash text-danger" aria-hidden="true"></i></a>
                                    {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        <div style="background-color: #f8f9fa; padding: 20px;">
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="row" style="margin-top: 40px;">
                        <div class="col-md-12">
                            <label style="font-size: 24px; font-weight: bold;" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" style="padding: 10px; width: 100%; border: 1px solid #ced4da; border-radius: .25rem;" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button style="background-color: #343a40; color: white; padding: 10px; border: none;">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="margin-left: 100px;">
                        <table>
                            <tr>
                                <td class="text-center"><b>Total: {{ total }}</b></td>
                            </tr>
                        </table>
                        <a href="" class="btn btn-black" style="display: block; margin: 10px 0;">CheckOut</a>
                        <div style="text-align: right; margin-top: 15px;">
                            <a href="{% url 'shop:categories' %}" class="btn btn-black" style="margin-right: 153px;">Continue Shopping</a>
                            <a href="{% url 'cart:orderform' %}" class="btn btn-info">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
