{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-6 text-info">Create Account</h2>
    <div class="container d-flex justify-content-center mt-5">
        <div class="card p-4" style="width: 550px;">

            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" name="u" placeholder="Choose a username" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Password</label>
                    <input type="password" class="form-control" name="p" placeholder="At least 6 characters" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Re-enter password</label>
                    <input type="password" class="form-control" name="cp" placeholder="Confirm your password" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" name="e" placeholder="Enter your email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-bold">Your name</label>
                    <input type="text" class="form-control" name="f" placeholder="First Name" required>
                    <input type="text" class="form-control mt-2" name="l" placeholder="Last Name" required>
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-black">Create your account</button>
                </div>

            </form>
            <div class="text-center mt-3">
                <p>Already have an account? <a href="{% url 'shop:user_login' %}">Sign-In</a></p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
